body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-size: 150%;
}
h1{
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size:5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Libre Caslon Display', serif;
  font-size: 2.5rem;
  color: #66BFBF;

}
h3{
  font-family: 'Libre Caslon Display', serif;
  font-size: 2rem;
  color: #11999E;
}
a{
  color: #11999E;
  font-family: 'Libre Caslon Display', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6  6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.tag{
  font-weight: normal;
}
.top{
  background-color: #fafad2;
  padding:100px 0;
  position: relative;


}
.middle-container{
  padding: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.intro{
  width: 30%;
  margin: auto;
}
.skill-row{
  height: 50%;
  width: 50%;
  margin: 40px auto 60px auto;
  text-align: left;

}
.contact-me{
  width: 60%;
  margin: 100px auto;
}

.copyright{
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 1.25rem;
}

.cricket-img{
  width: 30%;
  float: left;
  margin-right: 30px;
}
.html-img{
  width: 30%;
  float: right;
  margin-left: 30px;
}

/*
.middle{

}
.bottom{

}
*/
.top-cloud{
  position: absolute;
  top:20px; right: 150px;
  padding: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
}



.viv{
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.profile{
  padding-top: 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Libre Caslon Display', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
